nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand href="#" WWaveForm

    form.navbar-form.navbar-right#waveform role="form"
      .form-group
        input.form-control#formFreq1 type="number" name="freq1" placeholder="frequency 1" required="required" data-error="Frequency 1 is required"
      .form-group
        input.form-control#formFreq2 type="number" name="freq2" placeholder="frequency 2" required="required" data-error="Frequency 2 is required"
      .form-group.hidden
        input.form-control#formWidth type="number" name="width"
        input.form-control#formHeight type="number" name="height"
      a.btn.btn-primary.form-btn#create Show
      button.btn.btn-secondary.hidden#toggleOriginal Toggle Original
.messages

#canvas

javascript:
  $(document).ready(function() {
    var toggle = true

    $('#create').click(function() {
      toggle = true;
      resetCanvas();
      $('#toggleOriginal').removeClass('hidden');

      submitDimensions();

      var formData = {};
        $('#waveform').find("input[name]").each(function (index, node) {
            formData[node.name] = node.value;
        });
      $.ajax({
        url: "#{root_url}create.json",
        // url: "https://aqueous-headland-21339.herokuapp.com/create.json",
        data: formData,
        success: function(data) {
          drawWave(data.freq1, 'freq1');
          drawWave(data.freq2, 'freq2');
          drawWave(data.resultant, 'resultant');
        }
      });
    });

    $('#toggleOriginal').click(function(event) {
      event.preventDefault();

      $('canvas').setLayer('freq1', {
        visible: toggle
      });

      $('canvas').setLayer('freq2', {
        visible: toggle
      }).drawLayers();

      toggle = (toggle == false) ? true : false;

    });
  });

  function resetCanvas() {
    $('canvas').removeLayer('resultant').drawLayers();
    $('canvas').removeLayer('freq1').drawLayers();
    $('canvas').removeLayer('freq2').drawLayers();

  }
  function submitDimensions() {
    $('#formWidth').attr('value', $(window).width());
    $('#formHeight').attr('value', $(window).height());
  };
