nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand href="#" WWaveForm

    form.navbar-form.navbar-right#waveform role="form"
      .form-group
        input.form-control#formFreq1 type="number" name="freq1" placeholder="frequency 1 (Hz)" required="required" data-error="Frequency 1 is required"
      .form-group
        input.form-control#formFreq2 type="number" name="freq2" placeholder="frequency 2 (Hz)" required="required" data-error="Frequency 2 is required"
      .form-group.hidden
        input.form-control#formWidth type="number" name="width"
        input.form-control#formHeight type="number" name="height"
      a.btn.btn-primary.form-btn#create Show
      button.btn.btn-secondary.form-btn.hidden#toggleResultant Toggle Resultant
      button.btn.btn-secondary.form-btn.hidden#toggleOriginal Toggle Original
.messages

#canvas

javascript:
  $(document).ready(function() {

  //EVENT BINDINGS

    //KEYPRESS ENTER
    $('body').on('keypress', 'input', function(args) {
      if (args.keyCode == 13) {
          $("#create").click();
          return false;
      }
    });

    //SHOW BUTTON
    $('#create').click(function(event) {
      event.preventDefault();
      resetCanvas();
      showToggleButtons();
      submitDimensions();

      var formData = {};
        $('#waveform').find("input[name]").each(function (index, node) {
            formData[node.name] = node.value;
        });
      var proto = window.location.protocol

      $.ajax({
        url: proto + "//#{hostname + port}/create.json",
        data: formData,
        success: function(data) {
          drawWave(data.freq1, 'freq1');
          drawWave(data.freq2, 'freq2');
          drawWave(data.resultant, 'resultant');
        }
      });
    });

    //TOGGLE ORIGINAL BUTTON
    $('#toggleOriginal').click(function(event) {
      event.preventDefault();

      toggleVisibility('freq1');
      toggleVisibility('freq2');
    });


    //TOGGLE RESULTANT BUTTON
    $('#toggleResultant').click(function(event) {
      event.preventDefault();

      toggleVisibility('resultant');

    });
  });

  //HELPERS

  function showToggleButtons() {
    $('#toggleOriginal').removeClass('hidden');
    $('#toggleResultant').removeClass('hidden');
  }

  function submitDimensions() {
    $('#formWidth').attr('value', width);
    $('#formHeight').attr('value', height);
  };
